body
{
    margin-top: 100px;
    padding:0;
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.2),rgba(216, 189, 189, 0.7)), url(..//Images/image7.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif
}